<form [formGroup]="customerForm" cForm class="customer-form">

  <div class="form-grid">
    <input cFormControl type="hidden" formControlName="$key" />
    <!-- Name -->
    <div>
      <c-input-group>
        <span cInputGroupText>Name</span>
        <input type="text" cFormControl formControlName="name" placeholder="Enter customer name"
          [class.is-invalid]="customerForm.get('name')?.invalid && (customerForm.get('name')?.touched || isFormSubmitted)">
      </c-input-group>
      <small class="validation-error"
        *ngIf="customerForm.get('name')?.invalid && (customerForm.get('name')?.touched || isFormSubmitted)">
        Name is required.
      </small>
    </div>

    <!-- Address -->
    <div>
      <c-input-group>
        <span cInputGroupText>Address</span>
        <input type="text" cFormControl formControlName="address" placeholder="Enter address"
          [class.is-invalid]="customerForm.get('address')?.invalid && (customerForm.get('address')?.touched || isFormSubmitted)">
      </c-input-group>
      <small class="validation-error"
        *ngIf="customerForm.get('address')?.invalid && (customerForm.get('address')?.touched || isFormSubmitted)">
        Address is required.
      </small>
    </div>

    <!-- Mobile -->
    <div>
      <c-input-group>
        <span cInputGroupText>Mobile</span>
        <input type="text" cFormControl formControlName="mobile" placeholder="Enter mobile number" maxlength="10"
          [class.is-invalid]="customerForm.get('mobile')?.invalid && (customerForm.get('mobile')?.touched || isFormSubmitted)">
      </c-input-group>
      <small class="validation-error"
        *ngIf="customerForm.get('mobile')?.invalid && (customerForm.get('mobile')?.touched || isFormSubmitted)">
        Mobile number must be exactly 10 digits.
      </small>
    </div>

    <!-- GST -->
    <div>
      <c-input-group>
        <span cInputGroupText>GST</span>
        <input type="text" cFormControl formControlName="GST" placeholder="Enter GST number">
      </c-input-group>
    </div>

  </div>

  <div class="actions">
    <button cButton color="primary" class="text-white" (click)="save()">Save</button>
    <button cButton color="secondary" type="button" (click)="clear()">Clear</button>
  </div>

</form>