<div class="invoice-1 invoice-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="invoice-inner clearfix" id="wrapper">
          <div class="invoice-info clearfix mt-4" id="invoice_wrapper">
            <div class="invoice-headar">
              <div class="row g-0">
                <div class="col-sm-8">
                  <div class="invoice-logo  d-flex">
                    <div role="button" class="logo">
                      <img src="assets/img/logos/logo.png" alt="logo">
                    </div>
                    <div>
                      <div>
                        <h1 class="name heading mb-10">Shree Laxman Chemicals</h1>
                        <span class="heading-address ml-4">
                          Address: House No -15, Usman Nagar Road, Cidco New Nanded
                        </span>
                        <p class="heading-details  ml-4">
                          GST: 27ARZPB0261E1ZV &nbsp;&nbsp; Drug License:
                          MH/104955&nbsp;&nbsp; PAN: ARZPB0261E<br>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 invoice-id">
                  <div class="info">
                    <h1 role="button" class="color-white inv-header-1">Invoice</h1>
                    <p class="color-white mb-1 fw-normal">Invoice Number <span># 1</span></p>
                    <p class="color-white mb-1 fw-normal">Invoice Date <span>01-Dec-2025</span></p>
                    <p class="color-white mb-0 fw-normal">Vehicle Number <span>MH-26 BE 7136</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="invoice-top">
              <div class="row">
                <div class="col-sm-6  ml-2">
                  <div class="invoice-number mb-30">
                    <h4 class="inv-title-1">Invoice To</h4>
                    <h2 class="name mb-10">Vyankatesh Distributor</h2>
                    <p class="invo-addr-1">
                      Address: Parli-Vaijanath <br />
                      Mobile: +91 9423470784 <br />
                      GST: 27AWEPS2208Q1Z1 <br />
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="invoice-center">
              <div class="table-responsive">
                <table class="table mb-0  invoice-table">
                  <thead class="bg-active">
                    <tr class="tr">
                      <th>Sr.</th>
                      <th class="pl0 text-start">Product Name</th>
                      <th class="text-center">Quantity</th>
                      <th class="text-center">Rate</th>
                      <th class="text-end">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="tr2">
                      <td>
                        <div class="item-desc-1">
                          <span>1</span>
                        </div>
                      </td>
                      <td class="pl0">
                        <div class="product-description">
                          <span>Ajanta Gold Black Phenyl 1 LIT</span>
                        </div>
                        <div class="batch">
                          <span> <Strong>Batch</Strong> - 19&nbsp;</span>
                          <span> <Strong>HSN Code</Strong> - 38089400 &nbsp;</span>
                          <span> <strong>Free Goods </strong> - 10
                            Qty</span>
                          <span> <strong>Expiry Date</strong> - 25-09-2026</span>
                        </div>
                      </td>
                      <td class="text-center">60</td>
                      <td class="text-center"> ₹136.00</td>
                      <td class="text-end">₹8,160.00</td>
                    </tr>
                    <tr class="tr2">
                      <td>
                        <div class="item-desc-1">
                          <span>1</span>
                        </div>
                      </td>
                      <td class="pl0">
                        <div class="product-description">
                          <span>Ajanta Gold Black Phenyl 1 LIT</span>
                        </div>
                        <div class="batch">
                          <span> <Strong>Batch</Strong> - 19&nbsp;</span>
                          <span> <Strong>HSN Code</Strong> - 38089400 &nbsp;</span>
                          <span> <strong>Free Goods </strong> - 10
                            Qty</span>
                          <span> <strong>Expiry Date</strong> - 25-09-2026</span>
                        </div>
                      </td>
                      <td class="text-center">60</td>
                      <td class="text-center"> ₹136.00</td>
                      <td class="text-end">₹8,160.00</td>
                    </tr>
                    <tr class="tr2">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center font-weight-bold">SubTotal</td>
                      <td class="text-end font-weight-bold">₹15,100.00</td>
                    </tr>
                    <tr class="tr2">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center">23% Discount</td>
                      <td class="text-end">-₹3,473.00</td>
                    </tr>
                    <tr class="tr2">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center">
                        <div class="product-description">
                          <span>18% GST</span>
                        </div>
                        <div class="batch">
                          <span>(9% CGST + 9% SGST) </span>
                        </div>
                      </td>
                      <td class="text-end">+₹2,092.86</td>
                    </tr>
                    <tr class="tr2">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-center f-w-600 active-color">Grand Total</td>
                      <td class="f-w-600 text-end active-color">₹13,720.00 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="invoice-bottom">
              <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-7">
                  <div class="mb-30 dear-client text-center">
                    <img src="assets/img/bill/qrCode.png" alt="qrCode">
                  </div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-5">
                  <div class="mb-30 payment-method">
                    <h3 class="inv-title-1">Bank Details</h3>
                    <ul class="payment-method-list-1 text-14">
                      <li><strong>Account Name:</strong> Shree Laxman Chemicals</li>
                      <li><strong>Account No(Cash Credit):</strong> 5374665577</li>
                      <li><strong>Bank Name:</strong> Central Bank of India</li>
                      <li><strong>Branch Name:</strong>Cidco Nanded</li>
                      <li><strong>IFSC Code :</strong> CBIN0284980</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="invoice-bottom">
              <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-7">

                </div>
                <div class="col-lg-6 col-md-4 col-sm-5 text-center mt-2">
                  <!-- <img class="w-25 mb-4" src="assets/img/logos/stamp.png" alt=""> -->
                  <h5 class="text-center mt-4">Shree Laxman Chemicals</h5>
                  <h6 class="text-center">(Proprietor)</h6>
                </div>
              </div>
            </div>
            <div>
              <span class="inv-title-1">Terms & Conditions: </span> Goods once sold will not be taken back.• Subject to
              Maharashtra only.• Please mention your bill number in cheque.
            </div>
            <div class="invoice-contact clearfix">
              <div class="row g-0">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="contact-info">
                    <a href="tel:+55-4XX-634-7071"><i class="fa fa-phone"></i> +91 9175929204, +91
                      9503085125</a>
                    <a href="tel:info@themevessel.com"><i class="fa fa-globe"></i>
                      www.ajantagold.com</a>
                    <a href="tel:info@themevessel.com"><i class="fa fa-envelope"></i>
                      customer@ajantagold.com</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>