<div class="invoice-wrapper" *ngIf="billDetails">
  <div class="invoice-container">
    <div class="invoice-1 print-area" id="invoice-wrapper">
      <div class="row">
        <div class="col-12">
          <div class="invoice-inner">
            <div class="invoice-info ">
              <section class="invoice-headar">
                <div class="row g-0">
                  <div class="col-8">
                    <div class="invoice-logo  d-flex justify-content-center">
                      <div class="logo">
                        <img src="assets/img/logos/logo.png" alt="logo">
                        <span class="logo-title">Ajanta Gold</span>
                      </div>
                      <div>
                        <div>
                          <h1 class="name heading mb-10 ml-4">Shree Laxman Chemicals</h1>
                          <span class="heading-address ml-4">
                            Address: House No -15, Usman Nagar Road, Cidco New Nanded
                          </span>
                          <p class="heading-details  ml-4">
                            GST: 27ARZPB0261E1ZV &nbsp;&nbsp; Drug License:
                            MH/104955&nbsp;&nbsp; PAN: ARZPB0261E<br>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 invoice-id">
                    <div class="info">
                      <h1 role="button" class="color-white inv-header-1" (click)="generatePDF()">Invoice</h1>
                      <p class="color-white mb-1 fw-normal">Invoice Number <span>#
                          {{this.billDetails.billNumber}}</span></p>
                      <p class="color-white mb-1 fw-normal">Invoice Date <span> {{this.billDetails.billDate |
                          date:'dd-MMM-yyyy' }}</span></p>
                      <p class="color-white mb-0 fw-normal">Vehicle Number <span>{{this.billDetails.vehicleNumber
                          }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </section>
              <section class="invoice-to">
                <div class="row">
                  <div class="col-6  ml-2">
                    <div class="invoice-number">
                      <h4 class="inv-title-1">Invoice To</h4>
                      <h2 class="name mb-10">{{this.billDetails.customerInfo.name }}</h2>
                      <p class="customer-address">
                        Address: {{this.billDetails.customerInfo.address }} <br />
                        Mobile: +91-{{this.billDetails.customerInfo.mobile }} <br />
                        GST: {{this.billDetails.customerInfo.GST }} <br />
                      </p>
                    </div>
                  </div>
                </div>
              </section>
              <section class="product-details-table">
                <div class="table-responsive">
                  <table class="table mb-0  invoice-table">
                    <thead>
                      <tr class="tr">
                        <th>Sr.</th>
                        <th class="pl0 text-start">Product Name</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Rate</th>
                        <th class="text-end">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of this.billDetails.products; let  i=index">
                        <td>
                          <div class="item-desc-1">
                            <span>{{i+1}}</span>
                          </div>
                        </td>
                        <td class="pl0">
                          <div class="product-description">
                            <span>{{product.name}}</span>
                          </div>
                          <div class="batch-hsn-goods-expiry">
                            <div>
                              <span *ngIf="product.batchNumber"> <Strong>Batch</Strong> - {{product.batchNumber}}&nbsp;|
                              </span>
                              <span *ngIf="product.HSNCode"> <Strong>&nbsp;HSN Code</Strong> -
                                {{product.HSNCode}}</span>
                            </div>
                            <div>
                              <span *ngIf="product.freeGoods"> <strong>Free Goods </strong> - {{product.freeGoods}}
                                Qty&nbsp;| </span>
                              <span *ngIf="product.expiryDate"> <strong>&nbsp;Expiry Date</strong> -
                                {{product.expiryDate}}</span>
                            </div>
                          </div>
                        </td>
                        <td class="text-center">{{product.productQty}}</td>
                        <td class="text-center">{{product.productPrice | currency:'INR':'symbol':'1.2-2'}}</td>
                        <td class="text-end">{{product.amount | currency:'INR':'symbol':'1.2-2'}}</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center font-weight-bold">SubTotal</td>
                        <td class="text-end font-weight-bold">{{this.billDetails.subTotal |
                          currency:'INR':'symbol':'1.2-2'}}</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center">{{this.billDetails.discount}}% Discount</td>
                        <td class="text-end">-{{this.billDetails.totalDiscountAmount | currency:'INR':'symbol':'1.2-2'}}
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center gst-block">
                          <div class="product-description">
                            <span>18% GST</span>
                          </div>
                          <div class="batch">
                            <span>(9% CGST + 9% SGST) </span>
                          </div>
                        </td>
                        <td class="text-end gst-amount-block">+{{this.billDetails.totalTax |
                          currency:'INR':'symbol':'1.2-2'}}</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center f-w-600 active-color">Grand Total</td>
                        <td class="f-w-600 text-end active-color">{{this.billDetails.grandTotal |
                          currency:'INR':'symbol':'1.2-2'}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </section>
              <section class="bank-details">
                <div class="row">
                  <div class="col-6 ">
                    <div class="mb-30 text-center qr-code">
                      <img src="assets/img/bill/qrCode.png" alt="qrCode">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-30 float-right">
                      <h3 class="inv-title-1 text-center">Bank Details</h3>
                      <div class="table-responsive">
                        <table class="table mb-0  invoice-table">
                          <tr>
                            <td>Account Name</td>
                            <td>Shree Laxman Chemicals</td>
                          </tr>
                          <tr>
                            <td>Account No (Cash Credit)</td>
                            <td>5374665577</td>
                          </tr>
                          <tr>
                            <td>Bank Name</td>
                            <td>Central Bank of India</td>
                          </tr>
                          <tr>
                            <td>Branch Name</td>
                            <td>Cidco Nanded</td>
                          </tr>
                          <tr>
                            <td>IFSC Code</td>
                            <td>CBIN0284980</td>
                          </tr>

                        </table>
                      </div>

                    </div>
                  </div>
                </div>
              </section>
              <section class="invoice-signature">
                <div class="row">
                  <div class="col-8"></div>
                  <div class="col-4  mt-2">
                    <h5 class="mt-4">Shree Laxman Chemicals</h5>
                    <h6 class="text-center">(Proprietor)</h6>
                  </div>
                </div>
              </section>
              <section class="terms-condition">
                <div class="text-center">
                  <span class="inv-title-1">Terms & Conditions: </span>
                  Goods once sold will not be taken back • Subject to Maharashtra only • Please mention your bill number
                  in cheque
                </div>
              </section>

              <section class="invoice-contact ">
                <div class="row g-0">
                  <div class="contact-info">
                    <a href="tel:+91-9503085125"><i class="fa fa-phone"></i> +91 9175929204, +91
                      9503085125</a>
                    <a href="www.ajantagold.com"><i class="fa fa-globe"></i>
                      www.ajantagold.com</a>
                    <a href="mailto:customer@ajantagold.com"><i class="fa fa-envelope"></i>
                      customer@ajantagold.com</a>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>